@import './common/keyframes';

.BN0002{    
	.c-section {
	    column-gap: 3rem;
	    display: grid;
	    grid-template-columns: repeat(2, minmax(0, 1fr));
	    &__right {
		    display: flex;
		    flex-flow: column wrap;
		    -ms-flex-pack: center;
		    justify-content: center;
		}
	}

	.c-image {
	    text-align: right;
		&__img {
		    width: 100%;
		    border-radius: 20px;
		}
	}
	
	
	.c-wave {
	    font-size: 40px;
	    line-height: 1.2em;
	    color: #000;
	    font-weight: 600;
	    &__box {
		    display:flex;
		    justify-content: center;
		}
	}
	
	.c-desc {
	    margin-top: 10px;
	    padding: 0 20px;
	    color: rgb(53, 53, 53);
	    &__box {
		    height: 3em;
		    overflow-y: hidden;
		    display: block;
		    text-align: center;
		}
	}
	.space {
	    margin-left: 17px;
	}
	
	&.active {
		.c-wave__txt {
		    font-weight:600;
		    animation: wave 1.5s ease-in-out;
		    animation-iteration-count: 1;
		}
		.c-image{
			animation: wave 3s ease-in-out;
		    animation-iteration-count: 1;
		}	
		.c-desc__txt {
		    animation-name: grow;
		    animation-duration: 1s;
		}
	}
	
	@keyframes grow {
	    from { transform: translateY(3em) }
	    to { transform: translateY(0) }
	}
		
	
	
	
	@include screen(custom, max, $max-sm) { //767
		.c-section {
		    display: block;
		    position: relative;
		}
		
		.c-image {
		    text-align: center;
		}
		
		.c-section__right {
		    position: absolute;
		    top: 80px;
		    text-align: center;
		}
		
		.c-wave {
		    font-size: 29px;
		    line-height: 1.4em;
		}
		
		.space {
		    margin-left: 10px;
		}
		
		.c-wave__box {
		    justify-content: center;
		}
	}
	
	@include screen(custom, max, $max-xs) { //575
		.c-section__right {
		    position: relative;
		}
	}
	
	@include screen(custom, max, $mobile-p-big) { //414
	
		.c-section__right {
		    top: 25px;
		}
		.c-wave {
		    font-size: 24px;
		    line-height: 1.3em;
		}
	}
	
	@include screen(custom, max, $minimum) { //360
		
		
		.c-desc {
		    padding: 0 20px;
		    word-break: keep-all;
		}
	}
}

