@import './common/keyframes';

.BN0003{
	width: 1440px;
    margin: 0 auto;
    padding: 210px 0;
	.cmp-section {
	    column-gap: 3rem;
	    display: grid;
	    grid-template-columns: repeat(2, minmax(0, 1fr));
	    padding: 0;
	    margin: 0;
	}
	
	.c-image {
	    width: 100%;
	    border-radius: 30px;
	}
	
	.c-mail {
	    width: 100%;
	    height: 100%;
	    background-color: rgb(255, 229, 148);
	    border-radius: 30px;
	    padding-left: 20%;
	    padding-right: 20%;
	    text-align: center;
	    padding-bottom: 2.5rem;
	    padding-top: 2.5rem;
	    overflow: hidden;
	    justify-content: center;
	    display: flex;
	    align-items: center;
	}
	
	.c-title {
	    font-weight: 600;
	    font-size: 30px;
	    line-height: 1.2;
	}
	
	.c-mail__desc {
	    padding: 23px 0;
	}
	
	.c-mail__form-input {
	    border-color: transparent;
	    border-width: 0;
	    padding-left: 64px;
	    padding-bottom: 1.25rem;
	    padding-top: 1.25rem;
	    border-radius: 8px;
	    height: 100%;
	    width: 100%;
	}
	
	.c-mail__form-btn {
	    color: #000;
	    font-weight: 600;
	    padding: 1.25rem 2.5rem;
	    transition-duration: .15s;
	    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
	    transition-timing-function: cubic-bezier(.4,0,.2,1);
	    margin-top: 1.25rem;
	    border-radius: 9999px;
	    background-color: rgb(249 107 113/0.9);
	}
	
	.c-mail__form-btn:hover {
	    background-color: rgb(245 71 85/1);
	}
	.icon {
	    left: 24px;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    z-index: 10;
	    width: 28px;
	}
	.c-mail__form-wrap {
	    position: relative;
	}
	
	&.active .cmp-section__left{
		animation: wave 3s ease-in-out;
	    animation-iteration-count: 1;
	}
	
	&.active .cmp-section__right{
		animation-delay: 1s;
		animation: wave 2.5s ease-in-out;
	    animation-iteration-count: 1;
	}
	
	.c-wave__box {
	    display:flex;
	}
	
	&.active .c-wave__box .c-wave__txt {
	    font-weight:600;
	    animation: wave 1.5s ease-in-out;
	    animation-iteration-count: 1;
	}
	
	.space {
	    margin-left: 17px;
	}
}