.LS0002 {
    .cmp-list {
	    column-gap: 3rem;
	    display: grid;
	    grid-template-columns: repeat(6, minmax(0, 1fr));
	    &__item {
		    width: 100px;
		    height: 250px;
		    text-align: center;
		    margin: 0 auto;
		    border: 1px solid #000;
		    border-radius: 50px;
		    display: grid;
	    	cursor: pointer;
	    	padding: 0 10px;
	    	word-break: break-word;
	    	&.order > .c-title {
			    order: 1;
			}
		}
	}

	
	
	.c-slider {
	    width: 100px;
	    height: 100px;
	    border-radius: 50px;
	    background: antiquewhite;
	    position: absolute;	    
	}
	.top{
		transition: all 1.2s ease-in-out;
		transform: translate(-11px, 150px);
	}
	.buttom{
		transition: all 1.2s ease-in-out;
		transform: translate(-11px, -2px);
	}
	
	&.active{
		.top{
			transition: all 1.2s ease-in-out;
			transform: translate(-11px, -2px);
		}
		.buttom{
			transition: all 1.2s ease-in-out;
			transform: translate(-11px, 150px);
		}
	}
	
	.cmp-list__item:hover .top {
		transition: all 0.6s ease-in-out;
	    transform: translate(-11px, 150px);
	}
	.cmp-list__item:hover .buttom {
		transition: all 0.6s ease-in-out;
	    transform: translate(-11px, -2px);
	}
	
	.c-title {
		justify-content: center;
		display: flex;
		flex-flow: column wrap;
		-ms-flex-pack: center;
	}

	.c-desc {
	    display: flex;
	    justify-content: center;
	    flex-flow: column wrap;
	    -ms-flex-pack: center;
	}
	
	@include screen(custom, max, $min-md) {
		.cmp-list {
		    grid-template-columns: repeat(3, minmax(0, 1fr));
		    row-gap: 3rem;
		}
	}
}


