.LS0002 {
    .cmp-list {
	    display: flex;
	    justify-content: center;
	    &__item {
		    width: 100px;
		    height: 197px;
		    text-align: center;
		    margin: 0 15px;
		    border-radius: 50px;
		    display: grid;
	    	cursor: pointer;
	    	padding: 0 10px;
	    	word-break: break-word;
	    	color: #fff;
	    	&.order > .c-title {
			    order: 1;
			}
		}
	}

	.c-title {z-index: 1;}
	
	.c-desc {
	    z-index: 1;
	}
	
	.c-background {
	    position: absolute;
	    top: -17px;
	    left: -24px;
	    
	}
	.buttom .c-background {
		bottom: -17px;
		top: auto;
	}
	.cmp-list__item {
	    position: relative;
	}
	
	
	
	.c-icon {
	    width: 100%;
	}
	
	.cmp-list__item {
	    background-color: #f2a227;
	}
	
	.cmp-list__item:nth-child(2) {
	    background-color: #4fc4d3;
	}
	
	.cmp-list__item:nth-child(3) {
	    background-color: #41296b;
	}
	
	.cmp-list__item:nth-child(4) {background-color: #3972b9;}
	
	.cmp-list__item:nth-child(5) {background-color: #a3cd3a;}
	
	.cmp-list__item:nth-child(6) {
	    background-color: #5a696e;
	}
	
	
	.c-slider {
	    width: 100px;
	    height: 100px;
	    border-radius: 50px;
	    background: antiquewhite;
	    position: absolute;	    
	    z-index: 3;
	}
	.top .c-slider{
		transition: all 1.2s ease-in-out;
		transform: translate(0, 100px);
	}
	.buttom .c-slider{
		transition: all 1.2s ease-in-out;
		transform: translate(0, 0);
	}
	
	&.active{
		.top .c-slider{
			transition: all 1.2s ease-in-out;
			transform: translate(0, 0);
		}
		.buttom .c-slider{
			transition: all 1.2s ease-in-out;
			transform: translate(0, 100px);
		}
	}
	
	.cmp-list__item.top:hover .c-slider {
		transition: all 0.6s ease-in-out;
	    transform: translate(0, 100px);
	}
	.cmp-list__item.buttom:hover .c-slider {
		transition: all 0.6s ease-in-out;
	    transform: translate(0, 0);
	}
	
	.c-title {
		justify-content: center;
		display: flex;
		flex-flow: column wrap;
		-ms-flex-pack: center;
	}

	.c-desc {
	    display: flex;
	    justify-content: center;
	    flex-flow: column wrap;
	    -ms-flex-pack: center;
	}
	
	@include screen(custom, max, $min-md) {
		.cmp-list {
		    grid-template-columns: repeat(3, minmax(0, 1fr));
		    row-gap: 3rem;
		}
	}
}


