.TX0003 {
    margin-top: -7px;
    background-color: #fff;

	.c-rolling {
		position: relative;
		width: 100%;
		max-width:100%;
		height: auto;
		padding:44px 0;
		overflow-x: hidden;
		overflow-y: hidden;
		&__box {
			position: absolute;
			top: 30px;
			white-space: nowrap;
			will-change: transform;
			animation: marquee 30s linear infinite;
		}
		&__idx {
		    margin-left: -31px;
		    padding-right: 21px;
		}
		&__txt {
		    display: inline;
		    padding-right: 100px;
		    font-size: 21px;
		}
		&__icon {
		    margin-top: -7px;
		    vertical-align: middle;
		}
	}
	
	@keyframes marquee {
	  from { transform: translateX(0); }
	  to { transform: translateX(-50%); }
	}	
}