.TX0002{
    padding: 150px 0;
	.c-title__wrap {
	    text-align: center;
	    padding: 20px 0;
	}
	.c-floating-contents {
	    position: relative;
	    &__floating {
		    text-align: center;
		}
		&__floor {
		    position: absolute;
		    transition: all 0.1s ease-in-out;
		}
	}

	.c-desc {
	    font-size: 1.5rem;
	    line-height: 1.8;
	    transition: all 0.7s ease-in-out;
	    transform: translate(0, 200px);
	    
	    &__point:before {
		    content: '';
		    display: inline-block;
		}
		
		&__point {
		    background-color: rgb(255, 229, 148);
		    border-radius: 10px;
		    padding: 7px;
		    font-weight: 600;
		}
	}
	
	&.active{
		.c-desc {
			transform: translate(0, 0);
		}
	}
	@include screen(custom, max, $max-md) {
		.c-desc {
		    font-size: 1.3rem;
		}
	}
	@include screen(custom, max, $tablet-pro-p) { //1024
		.c-desc {
		    font-size: 1.3rem;
		}
	}
	@include screen(custom, max, $min-md) {
		.c-desc {
		    font-size: 16px;
		    line-height: 2.2;
		}
	}
	
	
	
}