@import './common/utilites';
@import './main/fullpage';
@import './main/keenslider';

@import './component/BN0001';
@import './component/BN0002';
@import './component/BN0003';

@import './component/LS0001';
@import './component/LS0002';

@import './component/TX0001';
@import './component/TX0002';
@import './component/TX0003';


body{
    background-color: #7ab4ee;
    transition: background .4s ease-in-out;
    &.bg-beige {
    	background-color: #f3f3e9;
    }
    &.bg-white {
    	background-color: #fff;
    }
}