@import './common/utilites';

@import './component/BN0001';
@import './component/BN0002';
@import './component/BN0003';

@import './component/LS0001';
@import './component/LS0002';

@import './component/TX0001';
@import './component/TX0002';
@import './component/TX0003';


body{
    background-color: #7ab4ee;
    transition: background .4s ease-in-out;
    &.bg-beige {
    	background-color: #f3f3e9;
    }
    &.bg-white {
    	background-color: #fff;
    }
}

.section{
	max-width: 1440px;
    margin: 0 auto;
    &.full{
		max-width: 100%;
		width : 100%;
		margin: 0;
	}
	&:not(.full) .component {
	    padding: 150px 20px;
	}
}
@include screen(custom, max, $max-sm) { //767
	.section{
		&:not(.full) .component {
		    padding-bottom: 0 !important;
		}
	}
}

.cmp-footer{
	.cmp-footer__animation:after {
	    border-bottom: 5px solid #353535;
	    bottom: 0;
	    content: "";
	    display: block;
	    left: 0;
	    width: 100%;
	    z-index: 5;
	    position: absolute;
	}
	
	.cmp-footer__animation {
	    position: relative;
	}
	
	.cmp-footer__info {
	    display: grid;
	    grid-template-columns: repeat(2, minmax(0, 1fr));
	    padding: 55px 35px;
	}
	
	.c-title {
	    font-size: 110px;
	    line-height: 1.2em;
	    font-weight: 600;
	}
	
	.c-desc {
	    text-align: right;
	    font-size: 20px;
	    line-height: 1.2;
	    position: relative;
	    padding: 15px 0;
	}
	
	.c-rolling {
	  &__box {
	     height: 110px;
    	margin-bottom: -7px;
	      overflow: hidden;
	      position: relative;
	      display : inline-block;
	      width: auto;
	  }
	
	  &__txt {
	      display: block;
	      padding-bottom: 6px;
	      -webkit-animation: rollingEng 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
	      animation: rollingEng 8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
	  }
  	}
  	
  	@keyframes rollingEng {
	    0.0% {
	        -webkit-transform: translateY(0px);
	        transform: translateY(0px)
	    }
	
	    28% {
	        -webkit-transform: translateY(0px);
	        transform: translateY(0px)
	    }
	
	    42% {
	        -webkit-transform: translateY(-150px);
	        transform: translateY(-150px)
	    }
	
	    56% {
	        -webkit-transform: translateY(-150px);
	        transform: translateY(-150px)
	    }
	
	    70% {
	        -webkit-transform: translateY(-280px);
	        transform: translateY(-280px)
	    }
	
	    84% {
	        -webkit-transform: translateY(-280px);
	        transform: translateY(-280px)
	    }
	
	    99.9999% {
	        -webkit-transform: translateY(-412px);
	        transform: translateY(-412px)
	    }
	
	    100.0% {
	        -webkit-transform: translateY(-412px);
	        transform: translateY(-412px)
	    }
	}
	

	@include screen(custom, max, $max-md) {
		.c-title {
		    font-size: 70px;
		}
		
		.c-rolling__box {
		    height: 70px;
		}
		.c-rolling {		
		  &__txt {
		      display: block;
		      padding-bottom: 6px;
		      -webkit-animation: rollingEng2 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
		      animation: rollingEng2 8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
		  }
	  	}
		@keyframes rollingEng2 {
		    0.0% {
		        -webkit-transform: translateY(0px);
		        transform: translateY(0px)
		    }
		
		    28% {
		        -webkit-transform: translateY(0px);
		        transform: translateY(0px)
		    }
		
		    42% {
		        -webkit-transform: translateY(-90px);
		        transform: translateY(-90px)
		    }
		
		    56% {
		        -webkit-transform: translateY(-90px);
		        transform: translateY(-90px)
		    }
		
		    70% {
		        -webkit-transform: translateY(-180px);
		        transform: translateY(-180px)
		    }
		
		    84% {
		        -webkit-transform: translateY(-180px);
		        transform: translateY(-180px)
		    }
		
		    99.9999% {
		        -webkit-transform: translateY(-270px);
		        transform: translateY(-270px)
		    }
		
		    100.0% {
		        -webkit-transform: translateY(-270px);
		        transform: translateY(-270px)
		    }
		}
	}
	
	@include screen(custom, max, $max-sm) { //767
		.cmp-footer__info {
		    grid-template-columns: repeat(1, minmax(0, 1fr));
		}
		
		.c-desc {
		    text-align: left;
		    padding: 39px 0;
		}
		text-align: center;
				.c-desc {
		    text-align: center;
		}
	}
	
	
	
	
	@include screen(custom, max, $mobile-p-big) { //414
	
		.c-title {
		    font-size: 50px;
		}
	
		.c-rolling__box {
		    height: 50px;
		}
		.c-rolling {		
		  &__txt {
		      display: block;
		      padding-bottom: 6px;
		      animation: rollingEng3 8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
		  }
	  	}
		@keyframes rollingEng3 {
	        0.0% {
	            transform: translateY(0px)
	        }
	
	        28% {
	            transform: translateY(0px)
	        }
	
	        42% {
	            transform: translateY(-65px)
	        }
	
	        56% {
	            transform: translateY(-65px)
	        }
	
	        70% {
	            transform: translateY(-132px)
	        }
	
	        84% {
	            transform: translateY(-132px)
	        }
	
	        99.9999% {
	            transform: translateY(-198px)
	        }
	
	        100.0% {
	            transform: translateY(-198px)
	        }
	    }
	}
}


.open {
    top: 0px;
    width: 100%;
    height: auto;
    position: fixed;
    overflow: hidden;
}

header {
	
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0,0%,100%,.9);
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    z-index: 10;
    pointer-events: auto;
    overflow: scroll;


.cmp-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,minmax(0,1fr));
    padding: 20px;
}

.c-image {
    width: 100%;
}

.cmp-list__item {
    position: relative;
    text-align: center;
}
 .c-floating-contents {
    position: relative;
}
.c-over {
    position: absolute;
    top: 0;
    background: #fff;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(255,255,255,.8);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .5s;
    padding: 0 20px;
    word-break: keep-all;
}
.c-floating-contents__floor {
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 20px;
}
.c-floating-contents__floating {
    text-align: center;
    position: absolute;
    top: 0;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.c-floating-contents__floor .c-image {
    width: 100%;
    border-radius: 20px;
    transform: scale(1);
    transition: all .6s ease-in-out;
}

.c-over__title {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 600;
}
.c-over__desc {
    margin-top: 5px;
}
.c-over__button-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
    margin-top: 20px;
}
.c-over__btn {
    padding: 1.25rem 2.5rem;
    background-color: rgba(249,107,113,.9);
    border-radius: 9999px;
    display: inline-block;
    transition-duration: .15s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 600;
}
nav {
    pointer-events: auto;
    overflow: scroll;
}


}